<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ng.hotels.telexlibraries">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity android:name=".KnowledgeBase"></activity>
        <activity android:name=".TechnicalProblems" />
        <activity android:name=".SupportActivity" />
    </application>

</manifest>